<ul class="todo-list todo-list-completed">
  {{#each incomplete as |todo|}}
    {{todo-item model=todo}}
  {{/each}}
</ul>
<button class="button {{if showComplete "button-outline"}}" {{action "toggleComplete"}}>Toggle Completed</button>
{{#if showComplete}}
<hr>
<h4>Completed Tasks</h4>
<ul class="todo-list todo-list-completed">
  {{#each complete as |todo|}}
    {{todo-item model=todo}}
  {{/each}}
</ul>
{{/if}}