<div class="container">
  <div class="row">
    <div class="column">
      <h1>Ember Todo Example</h1>
    </div>
  </div>
  <div class="row">
    <div class="column">
      {{todo-list todos=model}}
    </div>
  </div>
</div>